
[core]
@global AEA_spawn: true
@global AEA_units: true
@global BGC_spawn: true
@global BGC_units: true
@global EKE_spawn: true
@global EKE_units: true
@global neutrals:  true
generation_delay:  40
isBuilding:        false
name:              uranium
strictLevel:       0
tags:              uranium, canberepaired

# == Buff & Debuff Memories == #
@memory Blinded:              number
@memory BugIFC:               number
@memory burningDebuff:        number
@memory burningDebuff2:       number
@memory concusiondebuff:      number
@memory concusiondebuff2:     number
@memory concusiondebuff3:     number
@memory crippleDebuff:        number
@memory Shattered:            number
@memory shockbuildup:         number
@memory shockEnabled:         number
@memory shocktimer:           number
@memory shockvalue:           number
@memory stunDebuff:           number
@memory SurpressedCountdown:  number
@memory SurpressedTallyScore: number


[template_timer]
displayColor:      #83bb03
displayPos:        1
displayTextPrefix: 
displayWhenZero:   true
hidden:            true


[global_resource_Minerals]
appendResourceInHUD:                Gas
displayColor:                       #FF18D626
displayColorUseInText:              false
displayName:                        Minerals
displayNameHideWhenIconShownInHUD:  true
displayNameHideWhenIconShownInText: true
displayTextAppendResourceWithGap:   true
displayWhenZero:                    true
hidden:                             false
iconImage:                          ROOT:/DATA/total/icon_minerals.png


[resource_localMinerals]
displayName:                   Minerals
equivalentGlobalResourceForAI: Minerals
hidden:                        false


[global_resource_Gas]
appendResourceInHUD:                displaySupply
displayColor:                       #FF18D626
displayColorUseInText:              false
displayName:                        Gas
displayNameHideWhenIconShownInHUD:  true
displayNameHideWhenIconShownInText: true
displayTextAppendResourceWithGap:   true
displayWhenZero:                    true
hidden:                             true
iconImage:                          ROOT:/DATA/total/icon_gas.png


[resource_localGas]
displayName:                   Gas
equivalentGlobalResourceForAI: Gas
hidden:                        false


[resource_localGas2]
displayName:                   Gas
equivalentGlobalResourceForAI: Gas
hidden:                        false


[global_resource_supply]
displayColor:                       #FF18D626
displayColorUseInText:              false
displayName:                        Limit
displayNameHideWhenIconShownInHUD:  true
displayNameHideWhenIconShownInText: true
hidden:                             true
iconImage:                          ROOT:/DATA/total/icon_supply.png


[global_resource_displaySupply]
displayColor:                       #FF18D626
displayColorUseInText:              false
displayName:                        Limit
displayNameHideWhenIconShownInHUD:  true
displayNameHideWhenIconShownInText: true
displayTextAppendResource:          maxSupply
displayWhenZero:                    true
hidden:                             true
iconImage:                          ROOT:/DATA/total/icon_supply.png


[global_resource_maxSupply]
displayColor:          #FF18D626
displayColorUseInText: false
displayName:
displayTextPrefix:     /
displayWhenZero:       true
hidden:                true


[global_resource_nuke]
displayColor: #ff800000
displayName:  Nukes
hidden:       true


[resource_select]
displayName: Select
hidden:      true


[global_resource_baseAttack]
hidden:true


[global_resource_forcesAttack]
hidden:true


# == HOURS == #
[global_resource_t_hours_a]
@copyFromSection:          template_timer
displayTextAppendResource: t_hours_b
displayTextPrefix:Time     [ 
hidden:                    false


[global_resource_t_hours_b]
@copyFromSection:          template_timer
displayTextAppendResource: t_minutes_a 
displayTextPostfix:


# == MINUTES == #
[global_resource_t_minutes_a]
@copyFromSection:          template_timer
displayTextAppendResource: t_minutes_b
displayTextPrefix:         :


[global_resource_t_minutes_b]
@copyFromSection:          template_timer
displayTextAppendResource: t_seconds_a 
displayTextPostfix:


# == SECONDS == #
[global_resource_t_seconds_a]
@copyFromSection:          template_timer
displayTextAppendResource: t_seconds_b 
displayTextPrefix:         :


[global_resource_t_seconds_b]
@copyFromSection:                 template_timer
displayTextAppendResource:        uranium 
displayTextAppendResourceWithGap: true
displayTextPostfix:               ]

# == CREDIT TRANSFER == #
[global_resource_transferredCredit]
#displayNameHideWhenIconShownInHUD:  true
#displayNameHideWhenIconShownInText: true
displayColor:                        #83bb03
displayName:                         Transferred Credit
displayTextAppendResource:           receivedCredit
displayTextPrefix:                   Tfr ($ 
displayWhenZero:                     true
hidden:                              true


[global_resource_receivedCredit]
displayColor:                     #83bb03
displayName:                      Received Credit
displayTextAppendResource:        uranium
displayTextAppendResourceWithGap: true
displayTextPostfix:               )
displayTextPrefix:                ) / Rcv ($
displayWhenZero:                  true
hidden:                           true


# == AEA == #
[global_resource_uranium]
#displayPos:                        1
displayColor:                       #008e54
displayName:                        Uranium
displayNameHideWhenIconShownInHUD:  true
displayNameHideWhenIconShownInText: true
displayNameShort:                   U
displayTextPrefix:                  Uranium:  
displayWhenZero:                    true
hidden:                             true
iconImage:                          ROOT:data\icons\u.png


# == EKE Stuff == #
[global_resource_Power]
# Reference to by price -> t = 1000
#priority:                 1
displayColor:              #FFFF33
displayName:               Power
displayNameShort:          P
displayPos:                2
displayRoundedDown:        true
displayTextAppendResource: maxpower 
displayWhenZero:           false
iconImage:                 ROOT:data\icons\power.png


[global_resource_maxpower]
# Shared with all units on Team
#iconImage:
displayColor:       #FFFF33
displayName:        MAX
displayTextPostfix: 
displayTextPrefix:  |
hidden:             false
hidden:             true


[global_resource_darkmatter]
# Shared with all units on Team
#iconImage:
displayColor:       #000000
displayName:        DarkMatter
displayNameShort:   Ω
displayTextPostfix: 
displayTextPrefix:  Ω:
hidden:             false


[global_resource_maxFabs]
displayColor:       #F9A602
displayName:        maxfabs
displayNameShort:   Eco Limit
displayPos:         3
displayTextPostfix: $
displayTextPrefix:  LIMIT 
displayWhenZero:    false
hidden:             false
hidden:             true


# == BGC Stuff == #
[global_bgc_prices]
# Tier I
# Builder > Prerequisite: Dark Drone research
@global basicMech2:    850
@global beamCrab:      500
@global darkDrone:     700
@global lightningBug:  700
@global miniBertha:    1200
@global miniMLRS:      1000
@global miniNapalm:    1300
@global miniSamurai:   1800, MSamurai=1
@global miniVLS:       1000
@global mist:          575
@global mmt:           400
@global reparatorMech: 1500
@global strider:       1000

# Tier II
# Air > Prerequisite: T2 Mech gantry/Langley
@global AArocketMech:   6000
@global bgBomberMech:   4500
@global brokenMech:     6400
@global comanche:       2750
@global gunMech:        5500
@global heavyAAMech:    8500
@global honeyBadger:    3000
@global ionMech:        5800
@global langley:        5000
@global leyte:          7200
@global lighFlyingMecg: 1300
@global mediumMT:       5500
@global modMech:        2900
@global ritter:         7200
@global type2Mech:      8000

# Tier III
@global athena:         7000
@global ATMech:         6000
@global CamperMech:     13000
@global heavyMT:        14000
@global odogaron:       12300
@global rama:           9000
@global tacticalMech:   7000

# Tier IV
@global plasmaBeetle:   23000
@global SamuraiX:       21000, uranium=1000
@global type3Mech:      12000
@global type4:          23000, uranium=75
@global vigorous:       23000

# Tier V
@global apolloOldPrice: 65000, uranium=3200
@global T4okhotnik:     55000, uranium=2750
@global T4shokaku:      37500, uranium=800, SoaringCrane=1
@global T5warpMech:     30000, uranium=750

# Experimental
@global konig:          15000, uranium=400
@global orion1:         8500,  uranium=100
@global shikishinaPr:   44000, uranium=1666, samuraiSoulL=1     

# == Module Prices == #
# Light MG
@global Mprice_I: 400

# Mech Builder
@global Mprice_I2: 500

# Repair Bot
@global Mprice_II:  1000
@global Mprice_IIa: 1500

# Shuriken Swarmer
@global Mprice_II2: 1500

# Red Shell
@global Mprice_III: 2100

# Laser Defense
@global Mprice_IV: 1000

# Energy Charger
@global Mprice_V: 1900

# Shield Generator
@global Mprice_VI: 2000

# Turtle Core
@global Mprice_VII: 3900

# Precision Beam
@global Mprice_VIII: 4750

# Particle Beam
@global Mprice_IX: 4000

# Repair Pulse
@global Mprice_X: 6000

# Ion Death
@global Mprice_XI: 900

# Demo Charge
@global Mprice_XII: 4000

# Nuke Ppayload
@global Mprice_XIII: 12000


# == MODULE PRICES == #
# SETTINGS
# Setting this to false will de-activate credits | Default is set to true
@global creditsNames: true

# Allow ai to option force build all mechGantry when widow is attacking 
@global aiForceBuild: true

#time interval ai force build, default 120s
@global aiForceBuildcool:    120
@global aiForceBuildcoolnUM: 4


# Ai Build 
# == Apollo MkII == #
# Setting this to false ai connot build APOLLO, default true
@global AIapolloMkII: true

# Allow ai use nuke on apollo...., default false..... false means they can use nukes
@global AIapolloMkIIAiNuke: false

# Time interval AI build Apollo, default 300s (5min)
@global AIapolloMkIIcool: 300

# AI apollo limit, default is 5
@global AIapolloMkII_PlayerAiLimit: 2

# Human apollo limit, default is 5
@global AIapolloMkIIcool_PlayerHumanLimit: 2

# == Shokaku == #
# Player Shokaku limit, default is 10
@global shokaku_Limit: 10

# == Widow == #
# Player Widow limit, default is 5
@global widow_Limit: 5

# == BlackJack == #
# Player BlackJack limit, default is 6
@global blackJack_Limit: 10

# == Mini Samurai == #
# Player Mini Samurai limit, default is  15
@global Msamurai_Limit: 15

# == Land Cruiser == #
# Player Land Cruiser limit, default is 4
@global landcruiser_Limit: 4

# Limit, default is 5
@global generator_l: 8
@global samurai_l:   1
@global typhoon_l:   5

# == Unit Skin == #
# Black Jack Camouflage, Option: 0 or 1
# 0: Default
# 1: German Iron Cross Camo
@global camo_BlackJack: 0

# Apollo Mk II, Option: 0, 1, 2 (Barrel) & Option: 0, 1 (GunHouse)
# Barrel
# 0: Default
# 1: Plasma Crytal
# 2: Plasma classic
# 
# GunHouse
# 0: Default
# 1: Classic 'Concept'
@global camo_ApolloII_barreal:  0
@global camo_ApolloII_gunHouse: 0

# Built Mechs wil stop moving for a moment, this is the timer for how long they wait until the gantry is fully opened
@global mechGantryHalttimer: 2


# == Global Resources == #
# Apollo's Core
[global_resource_DeltaCore]
displayColor:                       #F9A602
displayName:                        Delta Core
displayNameHideWhenIconShownInHUD:  true
displayNameHideWhenIconShownInText: true
displayNameShort:                   Delta-C
displayPos:                         2
displayTextAppendResource:          Widow
displayWhenZero:                    false
hidden:                             false
iconImage:                          ROOT:data\icons\module_shieldUpS.png


# Widow
[global_resource_Widow]
@copyFromSection:          global_resource_DeltaCore 
displayName:               Arachnid Core
displayNameShort:          Arc-Core
displayTextAppendResource: samuraiSoulL
displayTextPostfix: 
hidden:                    true
iconImage:                 ROOT:data\icons\module_shieldUp.png


# Samurai
[global_resource_samuraiSoulL]
@copyFromSection:          global_resource_DeltaCore
displayName:               Samurai Soul
displayNameShort:          Soul
displayTextAppendResource: IGNORE
displayTextPostfix: 
hidden:                    true
iconImage:                 ROOT:data\icons\module_energyUp.png


# Drone Carrier
[global_resource_MechCarrier]
#displayWhenZero:                   true
displayColor:                       #44EAEA
displayName:                        Mech Carrier
displayNameHideWhenIconShownInHUD:  true
displayNameHideWhenIconShownInText: true
displayPos:                         3
displayTextAppendResource:          PhaseMechCarrier
displayTextPrefix:                  [
hidden:                             true
iconImage:                          ROOT:data\icons\droneicon.png


# Phase Mech Carrier
[global_resource_PhaseMechCarrier]
#displayWhenZero:   true
#iconImage:         ROOT:data\icons\module_energyUp.png
displayColor:       #44eaea
displayName:        Shokaku
displayTextPostfix: ]
displayTextPrefix:  |
hidden:             true


# Typhoon
[global_resource_typhoon]
#@copyFromSection:         global_resource_DeltaCore
displayName:               Typhoon
displayNameShort:          Typhoon
displayTextAppendResource: IGNORE
displayWhenZero:           false
hidden:                    true


# Resource Generator
[global_resource_generatorL]
#@copyFromSection:         global_resource_DeltaCore
displayName:               Generator
displayNameShort:          Generator
displayTextAppendResource: IGNORE
displayWhenZero:           false
hidden:                    true


# Apollo's Shikishina
[global_resource_SoaringCrane]
#@copyFromSection:         global_resource_DeltaCore 
displayName:               Battle-Carrier
displayNameShort:          CV-B
displayTextAppendResource: IGNORE
displayWhenZero:           false
hidden:                    true


# Widow
[global_resource_Widow_BJ]
#@copyFromSection:         global_resource_DeltaCore 
displayName:               Arachnid Core+
displayNameShort:          Arc-Core+
displayTextAppendResource: IGNORE
displayWhenZero:           false
hidden:                    true


# Mini Samurai
[global_resource_MSamurai]
#@copyFromSection:         global_resource_DeltaCore 
displayName:               Mini Samurai
displayNameShort:          Mini Sam
displayTextAppendResource: IGNORE
displayWhenZero:           false
hidden:                    true


# Land Cruiser
[global_resource_landcruiser]
#@copyFromSection:         global_resource_DeltaCore 
displayName:               core
displayNameShort:          core
displayTextAppendResource: IGNORE
displayWhenZero:           false
hidden:                    true


[global_resource_mGantryT1]
#@copyFromSection:         global_resource_DeltaCore
displayColor:              #3e4fff
displayName:               Ai FBMT1
displayTextAppendResource: IGNORE
displayWhenZero:           false


[global_resource_mGantryT2]
#@copyFromSection:         global_resource_mGantryT1
displayName:               Ai FBMT2
displayTextAppendResource: IGNORE
displayWhenZero:           false


[global_resource_mGantryT3]
#@copyFromSection:         global_resource_mGantryT1
displayName:               Ai FBMT3
displayTextAppendResource: IGNORE
displayWhenZero:           false


[global_resource_mGantryT4]
#@copyFromSection:         global_resource_mGantryT1
displayName:               Ai FBMT4
displayTextAppendResource: IGNORE
displayWhenZero:           false


[global_resource_mGantryT5]
#@copyFromSection:         global_resource_mGantryT1
displayName:               Ai FBMT5
displayTextAppendResource: IGNORE
displayWhenZero:           false


# Global Resource Stuff
[global_resource_1X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        1X
displayTextPostfix: )
displayTextPrefix:  1x(
hidden:             true


[global_resource_2X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        2X
displayTextPostfix: )
displayTextPrefix:  2x(
hidden:             true


[global_resource_3X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        3X
displayTextPostfix: )
displayTextPrefix:  3x(
hidden:             true


[global_resource_4X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        4X
displayTextPostfix: )
displayTextPrefix:  4x(
hidden:             true


[global_resource_5X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        5X
displayTextPostfix: )
displayTextPrefix:  5x(
hidden:             true


[global_resource_6X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        6X
displayTextPostfix: )
displayTextPrefix:  6x(
hidden:             true


[global_resource_7X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        7X
displayTextPostfix: )
displayTextPrefix:  7x(
hidden:             true


[global_resource_8X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        8X
displayTextPostfix: )
displayTextPrefix:  8x(
hidden:             true


[global_resource_9X]
#iconImage:         NONE
displayColor:       #FFFFFF
displayName:        9X
displayTextPostfix: )
displayTextPrefix:  9x(
hidden:             true


# == NIGHTMARE AI == #
[hiddenAction_NAI_checkForAI#12312312]
autoTriggerOnEvent: created
requireConditional: if self.globalTeamTags(includes="NightmareAI") and (${core.isBuilding}!=true)
temporarilyAddTags: NAI_Unit


[hiddenAction_nai_checkifcanapplytag]
autoTrigger:          if self.globalTeamTags(includes="NightmareAI") and self.hp<=self.maxHp*0.4 and self.tags(includes="exp")
autoTriggerCheckRate: every8Frames
temporarilyAddTags:   repairmepls


[hiddenAction_nai_checkifcanremovetag]
autoTrigger:           if self.globalTeamTags(includes="NightmareAI") and self.tags(includes="repairmepls") and self.hp>=(self.maxHp*0.9)
autoTriggerCheckRate:  every8Frames
temporarilyRemoveTags: repairmepls

