
[core]
#borrowResourcesWhileAlive: generatorL=1


[arm_1]
drawOverBody: true
image_end:    genBase_glow.png
x:            -0.4
y:            0


[arm_2]
@copyFromSection: arm_1
#pingPong:        true 
image_end:        genBase_top.png

