# Uranium Ratio 4:1           |
# 500 > 125   per 1    second | 
# 125 > 31.25 per 0.25 second |
# 50  > 12.5                  |


[core]
@global                                        spin: 1
#availableInDemo:                              true
#buildingSelectionOffset:                      4
#displayRadius:                                25
autoTriggerCooldownTime_allowDangerousHighCPU: true
autoTriggerCooldownTime:                       0.2s
buildingToFootprintOffsetX:                    4
buildingToFootprintOffsetY:                    4
buildSpeed:                                    0.00025
class:                                         CustomUnitMetadata
constructionFootprint:                         -2,-1,1,1
displayDescription:                            - The core purpose of the Resource Converter is to convert\n Credits into Uranium or Uranium into Credits\n- Goes Nuclear on death
displayFootprint:                              -2,-1,1,1
displayText:                                   Resource Converter
footprint:                                     -2,-1,1,1
isBio:                                         false
isBuilding:                                    true
mass:                                          9000
maxHp:                                         2500
name:                                          Uconverter
nukeOnDeath:                                   false
nukeOnDeathDamage:                             1000
nukeOnDeathDisableWhenNoNuke:                  false
nukeOnDeathRange:                              90
price:                                         30000
radius:                                        35
techLevel:                                     1


[template_press]
allowMultipleInQueue: false
alwaysSinglePress:    true
buildSpeed:           0s
highPriorityQueue:    true
isVisible:            true


[action_CreditToUranium]
@copyFromSection:   template_press
addResources:       setFlag=1, unsetFlag=2
ai_isHighPriority:  if self.resource.uranium < 25000
alsoTriggerAction:  DU
description:        [TOGGLE BUTTON: Press again to disable conversion]\n Generates 125U and consume $500 per second\n If resource runs out it automatically shutdown
isGuiBlinking:      if self.hasFlag(id=1)
isLocked:           if self.resource(type='credits')<500
isLockedMessage:    Credits low
text:               Credits to Uranium


[hiddenAction_DU]
convertTo: Uconverter_DU


[action_UraniumToCredit]
@copyFromSection:   template_press
addResources:       setFlag=2, unsetFlag=1
alsoTriggerAction:  UD
description:        [TOGGLE BUTTON: Press again to disable conversion]\n Generates $500 and consume 125U per second\n If resource runs out it automatically shutdown
isGuiBlinking:      if self.hasFlag(id=2)
isLocked:           if self.resource(type='uranium')<125
isLockedMessage:    Uranium low
text:               Uranium to Credits

[hiddenAction_UD]
convertTo: Uconverter_UD


[action_SHUTTHEFUCKUP_GODDAMN_N***A]
@copyFromSection:  template_press
#isLocked:         if not self.hasFlag(id=1) and self.hasFlag(id=2) or self.hasFlag(id=1) and not self.hasFlag(id=2)
#isLockedMessage:  No Active Conversion
addResources:      unsetFlag=1-2
ai_isHighPriority: if self.resource.uranium > 25000
alsoTriggerAction: S
text:              Shutdown


[hiddenAction_S]
convertTo: Uconverter_S


[hiddenAction_shutDown_a]
addResources:            unsetFlag=1-2
autoTrigger:             if self.hasFlag(id=1) and self.resource(type='credits')<500
convertTo:               Uconverter_S
showMessageToPlayer:     Conversion disable 
showQuickWarLogToPlayer: Credits low


[hiddenAction_shutDown_b]
addResources:            unsetFlag=1-2
autoTrigger:             if self.hasFlag(id=2) and self.resource(type='uranium')<125
convertTo:               Uconverter_S
showMessageToPlayer:     Conversion disable 
showQuickWarLogToPlayer: Uranium low


[arm_1]
drawOverBody: true
image_end:    spin_0.png
spinRate:     ${spin}
x:            -13.3
y:            0


[arm_2]
@copyFromSection: arm_1
image_end:        spin_1.png
y:                2


[arm_3]
@copyFromSection: arm_2
y:                4


[arm_4]
@copyFromSection: arm_2
y:                6


[arm_5]
@copyFromSection: arm_2
y:                8


[arm_6]
@copyFromSection: arm_2
y:                10


[arm_7]
@copyFromSection: arm_2
y:                12


[arm_8]
@copyFromSection: arm_2
y:                14


[arm_9]
@copyFromSection: arm_2
y:                16


[arm_20]
drawOverBody: true
image_end:    base_top.png
x:            -0.4
y:            0


[graphics]
image_shadow:  NONE
image_wreak:   base_dead.png
image:         base.png
shadowOffsetX: 1
shadowOffsetY: 1
total_frames:  1


[attack]
canAttack:                false
canAttackFlyingUnits:     false
canAttackLandUnits:       false
canAttackUnderwaterUnits: false
maxAttackRange:           0


[movement]
maxTurnSpeed:          0
moveAccelerationSpeed: 0.01
moveDecelerationSpeed: 0.01
movementType:          NONE
moveSpeed:             0
turnAcceleration:      0.1


[ai]
buildPriority:           0.1
maxEachBase:             2
maxGlobal:               3
noneGlobalExtraPriority: 0.4
noneInBaseExtraPriority: 0.1

